*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: 
        "nav-bar nav-bar"
        "menu-lateral contenido"
        "pie-pagina pie-pagina";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 7% 90% 3%;
    min-height: 100vh;
    
}

.nav-bar{
    grid-area: nav-bar;
    
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    grid-area: menu-lateral;
    background-color: rgba(229, 243, 239, 0.938);
}

.con-men-lat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.alinea-menu-icono{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu-producto{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.icono{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 138px;
}

.icono-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 175px;
}

.icono-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 190px;
}

.icono-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 158px;
}

.icono-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 173px;
}

.grilla-producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.gal-prod{
    background-color: #007bff;
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
}

.card-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: papayawhip;
}

.card-images{
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.carr-compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
}

.contenido{
    grid-area: contenido;
    width: 100%;
    background-color: rgba(229, 243, 239, 0.938);
    gap: 5px;
    padding-left: 5px;
}

.boton{
    width: 100%;
}

.pie-pagina{
    grid-area: pie-pagina;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    min-height: 50px;
    margin: 0;
    padding: 0;
}

.parr-pie-pag{
    display: flex;
    text-align: center;

}.rango-precio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}



